* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

#main {
    width: 100%;
    height: 100vh;
    background-color: hsl(205.7, 33.3%, 95.9%);
    display: flex;
    align-items: center;
    justify-content: center;

    >section {
        width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;

        >h1 {
            font-size: 90px;
            color: hsl(208.8, 61%, 16.1%);
        }

        >p {
            &:nth-of-type(1) {
                color: hsl(208.8, 61%, 16.1%);
                font-size: 65px;
                margin: 30px 0;
            }

            &:nth-of-type(2) {
                font-size: 14px;
                color: gray;
                margin: 30px 0;
            }
        }

        >.row {
          gap: 5px;
            >button {
                padding: 10px 15px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                text-transform: uppercase;
                border: 3px solid hsl(208.8, 61%, 16.1%);
                border-radius: 10px;
                color: hsl(208.8, 61%, 16.1%);
                cursor: pointer;
                transition: 0.4s;
                font-weight: 600;

                &:hover {
                    background-color: hsl(208.8, 61%, 16.1%);
                    color: white;
                }
            }
        }

    }
}